name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  DOTNET_VERSION: "9.0"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: DevHabit

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore DevHabit.Api/DevHabit.Api.csproj

      - name: Build
        run: dotnet build DevHabit.Api/DevHabit.Api.csproj --configuration Release --no-restore

      - name: Test
        run: dotnet test DevHabit.Api/DevHabit.Api.csproj --configuration Release --no-restore --no-build

      - name: Publish
        run: dotnet publish DevHabit.Api/DevHabit.Api.csproj --configuration Release --no-restore --no-build